@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    src: url('../fonts/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
        url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    font-display: swap;
    src: url('../fonts/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff'),
        url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}