*,
*::before,
*::after 
    box-sizing: border-box 
    outline: none 

body
    font-family: 'Fira Sans';
    font-weight: normal
    font-size: 18px

img 
    max-width: 100% 
button 
    cursor: pointer