*,
*::before,
*::after 
    box-sizing: border-box 
    outline: none 

body
    font-family: 'Fira Sans';
    font-weight: normal
    font-size: 18px

.container
    max-width: 1440px
    margin: auto    

img 
    max-width: 100% 
button 
    cursor: pointer