@media (max-width: 992px)
    .header
        &-bottom
            & .container
                padding: 0
    .menu
        &-nav
            &__item
                border-bottom: 1px solid $white
            &__link
                padding: 12px 15px                    