@media (max-width: 1247px)
    .partners
        &-block
            &-text
                margin-left: 20px
@media (max-width: 1200px)
    .section
        &-scheme
            font-size: 38px
    .scheme
        &-block
            margin-bottom: 50px
            &__title
                margin: 0 0 20px
        &-wrap
            margin-bottom: 30px
            flex-direction: column
            &__image
                margin: auto
                &-subtitle
                    margin: 10px 0 15px
            &__text
                max-width: none
                text-indent: 12px                                    
@media (max-width: 1197px)
    .partners
        &-block
            flex-direction: column
            align-items: center
            &-text
                max-width: none
                margin: 30px 0
                padding-right: 0 
@media (max-width: 1185px)
    .articles
        & .container
            max-width: 790px
        &-list
            margin-bottom: 50px 
            &__link
                margin: 0 20px
@media (max-width: 1180px)
    .scheme
        &-plus
            &-minus
                margin-bottom: 20px
                &-block
                    margin-bottom: 15px
                    &__title
                        margin: 0 0 5px
        &-wrap
            margin-bottom: 20px                                   
@media (max-width: 1170px)
    .provide-services
        & .container
            max-width: 780px
    .section-title
        font-size: 38px
        line-height: 42px
    .partners
        &-block
            &-text
                &__title
                    font-size: 40px
                    margin: 5px 0 17px
@media (max-width: 1140px)
    .certificate
        &__subtitle
            margin-bottom: 40px
        &-block
            &__image
                margin-bottom: 40px
            &s
                max-width: 900px
                margin: auto                          
@media (max-width: 1132px)
    .why-we
        &-block
            &s
                justify-content: center
        & .container
            max-width: 780px
    .section-why-we
        padding: 0 
    .performed
        &-block
            flex-direction: column
            margin-bottom: 30px
            &:nth-child(even)
                & .performed-block__image
                    order: 0
            &__text
                margin: 0
            &__inner
                max-width: none    
@media (max-width: 1124px)
    .electrical
        & .container
            flex-direction: column
        &-left
            &-side
                max-width: none
                &__subtitle
                    margin: 0 0 10px
        &-right
            &-side
                margin-top: 15px                                   
@media (max-width: 1110px)
    .our-clients
        & .container
            max-width: 600px
    .articles-us
        &-block
            max-width: 360px
            &s
                max-width: 760px
                margin: auto                                               
@media (max-width: 1070px)
    .poll
        &__title
            margin: 0 0 20px
        &-block
            &s
                max-width: 600px 
                margin: auto
    .section-poll
        padding: 60px 0 40px
@media (max-width: 1000px)
    .we-work
        &-block
            &::after
                right: -70px
    .section-electrical
        padding: 50px 0
    .electrical
        &-left
            &-side
                &__title
                    font-size: 32px
                    line-height: normal
                    margin: 0 0 25px                                                                            
@media (max-width: 992px)
    .header
        &-bottom
            & .container
                padding: 0
    .menu
        &-nav
            &__item
                border-bottom: 1px solid $white
                width: 100%
            &__link
                padding: 12px 15px
    .section-hero
        padding: 70px 0 56px                
    .hero
        min-height: 690px
        &-text
            max-width: 580px
            &__title
                font-size: 48px
                line-height: 60px
    .have-question
        &-left
            display: none
        &-right
            border-radius: 10px
            margin: auto
            width: 100%
            max-width: 480px
            &__form
                margin: 0 auto 25px
    .our-services
        &-block
            &__link
                bottom: 0
    .become-partner
        &__form
            max-width: 850px
        &-block
            max-width: 400px
    .contact
        &-block
            &s
                flex-direction: column
                align-items: center
                text-align: center
    .section-contact
        padding: 40px 0 50px                               
@media (max-width: 900px)
    .our-services
        &-block
            max-width: 480px
            margin: 0 auto 50px
            &__wrap
                flex-direction: column
            &__image
                margin-right: 0
                & img
                    margin: 0 auto 20px    
            &__title
                font-size: 20px
                line-height: 24px 
            &__description
                height: 66px
                overflow: hidden    
            &__link
                bottom: -18px
    .section-cabinets-hero
        padding: 80px 0 90px            
    .cabinets-hero
        min-height: 550px
        &__title
            font-size: 44px
@media (max-width: 860px)
    .certificate
        &-block
            &s
                max-width: 560px                        
@media (max-width: 850px)
    .we-work
        &-block
            width: 40%
            &:nth-child(2)
                &::after
                    display: none
            &:nth-child(4)
                &::after
                    display: none                    
            &:nth-child(3)
                &::after
                    top: 95px
                    right: -70px
                    left: auto
                    transform: translateX(0%) rotate(0deg)
            &:nth-child(5)
                &::after 
                    transform: rotate(0deg)
    .become-partner
        &__form
            max-width: 750px
        &-block
            max-width: 340px
@media (max-width: 806px)
    .articles
        & .container
            max-width: 400px 
        &-list
            flex-direction: column
            align-items: center
            &__link
                margin: 0 10px
                line-height: normal       
    .pagination 
        & .next, 
        & .prev
            display: none
        &-number
            margin: auto                                                
@media (max-width: 800px)
    .header
        &-top
            padding: 10px 0 
            & .container
                max-width: 530px
    .section-provide-services
        padding: 50px 0 0
    .section-title
        font-size: 30px
        margin: 0 0 40px
    .provide-services
        &-block
            &s
                flex-direction: column
                align-items: center
    .have-question
        &-right
            &__title
                margin: 40px 0 25px
            &__list
                margin: 0 auto 40px
    .request
        &-form
            flex-direction: column
            &-block
                margin: 0 auto 20px
            &__input
                display: block
            &__button
                margin: auto 
    .scheme
        &-block
            &__title
                line-height: normal
                font-size: 30px
        &-rezult
            &-list
                &__item
                    margin-bottom: 5px                                                                                                                                 
@media (max-width: 768px)
    .section-hero
        padding: 50px 0 36px 
    .hero
        min-height: 600px 
        &-text
            max-width: 440px
            margin: auto
            &__title
                font-size: 34px
                line-height: 40px
                margin: 0 0 30px
            &__subtitle
                margin: 0 0 40px    
        &-buttons
            margin-bottom: 40px
            &__link
                height: 50px
        &-features
            flex-direction: column
            align-items: center
            &-block:nth-child(2)
                margin: 25px 0
    .partners
        &-block
            margin-bottom: 35px
            &-text
                &__title
                    text-align: center
                    margin: 0 0 15px
                & p
                    margin: 0 0 15px
    .articles-us
        &-top
            padding-bottom: 20px
            flex-direction: column
            &__subtitle
                margin-bottom: 20px
        &-block
            max-width: none
            margin-bottom: 15px
            &__title
                font-size: 22px
                line-height: normal        
    .section-articles-us
        padding: 0 0 30px 
    .become-partner
        &__form
            flex-direction: column
            align-items: center
        &-block
            max-width: 400px
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
            & img
                margin: 0 auto 20px
    .electrical
        &-left
            &-side
                &__title
                    text-align: center                
@media (max-width: 700px) 
    .section-cabinets-hero
        padding: 50px 0  
    .cabinets-hero
        min-height: 430px
        &__title
            margin: 0 0 25px
            line-height: 57px
        &-list
            margin: 0 0 60px
            &__item
                font-size: 21px
                line-height: normal             
@media (max-width: 653px)
    .become-partner
        &__title 
            line-height: normal
            font-size: 36px
@media (max-width: 590px)
    .certificate
        &-block
            &s
                max-width: 270px                                                                                   
@media (max-width: 580px)
    .section-our-clients 
        padding: 60px 0 0
    .our-clients    
        & .container
            max-width: 380px
        &-certificate
            justify-content: center
    .poll
        &-block
            &s
                max-width: 360px
    .scheme
        &-wrap
            margin-bottom: 5px
            &__image
                flex-direction: column
                align-items: center
        &-plus-minus
            margin-bottom: 0 
        &-rezult
            &-list
                &__item
                    margin-bottom: 0
        &-block
            margin-bottom: 30px
    .performed
        &__title
            font-size: 36px
            text-align: center
            margin: 0 0 25px                                                                          
@media (max-width: 550px)
    .section-title
        text-align: center
        line-height: normal
    .partners
        &__title
            font-size: 40px
            line-height: normal
            margin: 0 0 40px
        &-block
            &-text
                margin: 20px 0
                &__title
                    font-size: 32px
                    line-height: normal
    .section-partners
        padding: 30px 0 90px
    .section-we-work
        padding: 50px 0 0    
    .we-work
        &-block
            margin-bottom: 30px
            &::after
                display: none
            &:last-child
                margin-bottom: 0

@media (max-width: 500px)
    .have-question
        & .container
            padding: 0 5px
        &-right
            width: 100%
            &__list
                max-width: 310px
            &__form
                max-width: 310px
    .section-second-title
        font-size: 28px
        line-height: normal
    .request
        &__subtitle
            font-size: 16px 
    .our-services
        &-block
            max-width: 310px
            &__text
                margin: auto
            &__link
                bottom: -25px                                                                                                            
@media (max-width: 480px)
    .header
        &-top
            & .container
                max-width: 320px
            &__logo
                margin: auto
            &__address
                margin-left: auto
                font-size: 16px
                max-width: 240px
                padding: 8px 0 
    .hero
        &-text
            &__title
                font-size: 26px
                line-height: 32px
            &__subtitle
                font-size: 16px    
        &-buttons
            flex-direction: column
            align-items: center
            &__link
                &:first-child
                    margin-right: 0
                    margin-bottom: 25px
@media (max-width: 460px)
    .section-cabinets-hero
        padding: 35px 0 
    .cabinets-hero
        min-height: 360px
        &__title
            line-height: normal
            font-size: 32px
        &-list
            margin: 0 0 35px
            &__item
                font-size: 18px
                margin-bottom: 8px
        &__link
            height: 48px
            width: 240px                                   
@media (max-width: 450px)
    .section-title
        font-size: 28px  
        text-align: center
    .partners-slide .owl-nav button.owl-next,
    .partners-slide .owl-nav button.owl-prev
        top: 150px
    .we-work
        &-block
            width: 90%
            margin: 0 auto 25px
@media (max-width: 435px)
    .contact
        &__title
            font-size: 40px
            line-height: normal
        &__subtitle
            max-width: none
            font-size: 16px
        &-block
            &__title
                line-height: normal
                font-size: 30px                                                        
@media (max-width: 425px)
    .hero
        &-text
            max-width: 310px
            &__title
                font-size: 32px
                line-height: normal
    .partners
        &-blocks
            margin-bottom: 40px
    .become-partner
        &-block
            &__title
                font-size: 16px
                line-height: normal
                margin-bottom: 8px
                text-indent: 10px
            &__input
                height: 50px
                font-size: 16px
                padding: 0 15px
            &__textarea
                padding: 15px
                font-size: 16px
            &__button
                height: 50px
                font-size: 22px
    .electrical
        &-left
            &-side
                &__title
                    font-size: 23px
    .scheme
        &-block
            &__title
                font-size: 26px
                text-align: center
    .performed
        &__title
            font-size: 26px
            line-height: normal
            margin: 0 0 15px
    .certificate
        &__title
            font-size: 36px
            text-align: center
            margin: 0 0 15px                                                                                            
@media (max-width: 411px)
    .partners-slide .owl-item img,
    .partners-slide
        max-height: 273px
    .partners-slide .owl-nav button.owl-next,
    .partners-slide .owl-nav button.owl-prev
        top: 135px
    .scheme
        &-rezult
            &-list
                &__item
                    &-time
                        font-size: 18px
                        line-height: normal
                &__item
                    &:last-child
                        width: 295px 
    .header
        &-top
            & .container
                flex-direction: column
            &__address
                display: none
            &__schedule
                text-align: center                                                                     
@media (max-width: 408px)
    .section-articles
        padding: 40px 0
    .articles
        &__title
            font-size: 44px
            line-height: normal
        &-block
            margin: 20px 0
            padding: 0 
        &-list
            margin-bottom: 20px
        &-block
            &__title
                font-size: 20px
                line-height: normal
    .pagination
        margin-top: 15px                                                 
@media (max-width: 406px)
    .provide-services
        &-block
            &__image
                height: 214px
            &__hidden
                height: 214px
@media (max-width: 400px)
    .provide-services
        &-block
            &__image
                height: 210px
            &__hidden
                height: 210px
    .item-time-left
        margin-right: 0
    .scheme
        &-rezult
            &-list
                &__item
                    display: flex
                    flex-direction: column
                    align-items: center
                    &:last-child
                        text-align: center
                        width: auto
                    &-time
                        font-size: 22px
        &-block
            &__title
                font-size: 24px
    .our-clients
        &-images
            &__image
                width: 47%                                
@media (max-width: 390px)
    .have-question
        &-right
            &__input
                height: 50px
            &__button
                height: 50px
    .provide-services
        &-block
            &__image
                height: 205px
            &__hidden
                height: 205px
    .poll
        &-block
            &s
                flex-direction: column
                align-items: center
    .partners
        &__title
            font-size: 35px
        &-block
            &-text
                &__title
                    font-size: 28px                                                            
@media (max-width: 380px)
    .section-why-we
        padding: 40px 0 0
    .provide-services
        &-block
            &__image
                height: 199px
            &__hidden
                height: 199px
            &__text
                margin: 10px 0 30px
    .partners-slide .owl-nav button.owl-next, 
    .partners-slide .owl-nav button.owl-prev
        top: 120px
    .partners-slide .owl-item img,
    .partners-slide
        max-height: 250px                                
@media (max-width: 375px)
    .cabinets-hero
            &__title
                font-size: 28px
            &__link
                margin: auto     
    .provide-services
        &-block
            &__image
                height: 196px
            &__hidden
                height: 196px               
@media (max-width: 371px)
    .articles
        &-block
            margin: 50px 0
@media (max-width: 370px)
   .provide-services
        &-block
            &__image
                height: 192px
            &__hidden
                height: 192px 
@media (max-width: 365px)
    .provide-services
        &-block
            &__image
                height: 189px
            &__hidden
                height: 189px              
@media (max-width: 360px)
    .have-question
        &-right
            &__list
                max-width: 270px
            &__item
                font-size: 16px    
            &__form
                max-width: 270px       
    .provide-services
        &-block
            &__image
                height: 186px
            &__hidden
                height: 186px
                &__link
                    height: 40px                      
@media (max-width: 355px)
    .provide-services
        &-block
            &__image
                height: 183px
            &__hidden
                height: 183px
    .our-services
        & .container
            padding: 0 10px
        &-block
            max-width: 290px
            &__title
                font-size: 18px
                line-height: normal
            &__description
                font-size: 16px                 
@media (max-width: 350px)
   .provide-services
        &-block
            &__image
                height: 181px
            &__hidden
                height: 181px
                &__link
                    height: 50px
@media (max-width: 345px)
    .provide-services
        &-block
            &__image
                height: 178px
            &__hidden
                height: 178px
    .articles
        &-block
            margin: 20px 0            
@media (max-width: 340px)
    .provide-services
        &-block
            &__image
                height: 174px
            &__hidden
                height: 174px
            &__text
                font-size: 16px

    .partners-slide,                
    .partners-slide .owl-item img,
        max-height: 220px
    .partners-slide .owl-nav button.owl-next, 
    .partners-slide .owl-nav button.owl-prev
        top: 110px                                                                                                                                                                                                                                                              
@media (max-width: 335px)
    .header
        &-top
            & .container
                flex-direction: column
            &__schedule
                padding: 5px 0 10px
    .provide-services
        &-block
            &__image
                height: 171px
            &__hidden
                height: 171px
@media (max-width: 330px)
    .provide-services
        &-block
            &__image
                height: 168px
            &__hidden
                height: 168px    
@media (max-width: 325px)
    .provide-services
        &-block
            &__image
                height: 165px
            &__hidden
                height: 165px
    .partners-slide,                
    .partners-slide .owl-item img,
        max-height: 205px
    .partners-slide .owl-nav button.owl-next, 
    .partners-slide .owl-nav button.owl-prev
        top: 100px              
@media (max-width: 320px)
    .provide-services
        &-block
            &__image
                height: 162px
            &__hidden
                height: 162px 
                                                                                            