.section-contact
    padding: 60px 0 120px
.contact
    &__title
        font-weight: bold
        text-align: center
        font-size: 64px
        line-height: 77px   
        color: $black
        margin: 0 0 35px 
