.section-articles
    padding: 60px 0 80px
.articles
    &__title    
        font-weight: bold
        font-size: 64px
        line-height: 77px
        text-align: center
        color: $black
        margin: 0 0 35px
    &-list
        padding: 0
        margin: 0 0 90px
        list-style: none
        display: flex
        justify-content: center
        &__item
            margin: 0 50px
        &__link
            font-weight: bold
            font-size: 18px
            line-height: 22px
            color: rgba(0,0,0, .5)
            text-transform: uppercase
            transition: .2s
            &:hover
                color: rgba(0,0,0, 1)